@font-face {
  font-family: 'Lora';
  src: url('../font/lora/lora.eot');
  src: url('../font/lora/lora.eot?iefix') format('eot'),
  url('../font/lora/lora.woff') format('woff'),
  url('../font/lora/lora.ttf') format('truetype'),
  url('../font/lora/lora.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('../font/roboto-light/roboto-light.eot');
  src: url('../font/roboto-light/roboto-light.eot?iefix') format('eot'),
  url('../font/roboto-light/roboto-light.woff') format('woff'),
  url('../font/roboto-light/roboto-light.ttf') format('truetype'),
  url('../font/roboto-light/roboto-light.svg#webfont') format('svg');
}

* {
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 73px;
  background: url(../img/bg.jpg) no-repeat center center fixed #f7f7f7;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #171717;
  font-size: 18px;
  font-family: "Lora";
}

@media screen and (min-width: 972px) and (max-width: 10000000000px) {
  .header-container {
    width: 100%;
    height: 51px;
    text-transform: uppercase;
    font-size: 17px;
    font-family: 'Roboto Light';
  }

  .header-wrapper {
    margin: auto;
    padding-top: 5px;
    width: 900px;
  }

  .header-left {
    float: left;
    margin-top: 14px;
  }

  .header-logo {
    width: 199px;
    height: 12px;
    background: url(../img/headerlogotext.png) no-repeat left;
  }

  .header-right {
    float: right;
  }

  .menu-button {
    display: none;
  }

  .header-right ul {
    margin-top: 8px;
    list-style: none;
  }

  .header-right ul li {
    display: inline-block;
    margin-left: 20px;
  }

  .header-right ul li a {
    color: gray;
    text-decoration: none;
  }

  .header-right ul li a:hover {
    color: #171717;
  }

  main {
    padding-top: 74px;
    padding-bottom: 170px;
  }

  .main-wrapper {
    margin: auto;
    width: 650px;
    text-align: center;
  }

  .main-header {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Roboto Light';
    line-height: 40px;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    background: #4089a7;
    color: #f7f7f7;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
  }
}
@media screen and (min-width: 601px) and (max-width: 971px) {
  .header-container {
    width: 100%;
    height: 51px;
    text-transform: uppercase;
    font-size: 17px;
    font-family: 'Roboto Light';
  }

  .header-wrapper {
    margin: auto;
    padding-top: 5px;
    width: 90%;
  }

  .header-left {
    float: left;
    margin-top: 14px;
  }

  .header-logo {
    width: 199px;
    height: 12px;
    background: url(../img/headerlogotext.png) no-repeat left;
  }

  .header-right {
    float: right;
  }

  .menu-button {
    display: none;
  }

  .header-right ul {
    margin-top: 8px;
    list-style: none;
  }

  .header-right ul li {
    display: inline-block;
    margin-left: 20px;
  }

  .header-right ul li a {
    color: gray;
    text-decoration: none;
  }

  .header-right ul li a:hover {
    color: #171717;
  }

  main {
    padding-top: 74px;
    padding-bottom: 170px;
  }

  .main-wrapper {
    margin: auto;
    width: 70%;
    text-align: center;
  }

  .main-header {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'Roboto Light';
    line-height: 40px;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    background: #4089a7;
    color: #f7f7f7;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
  }
}
@media screen and (min-width: 0px) and (max-width: 600px) {
  .header-container {
    width: 100%;
    height: 51px;
    text-transform: uppercase;
    font-size: 17px;
    font-family: 'Roboto Light';
  }

  .header-wrapper {
    margin: auto;
    padding-top: 5px;
    width: 90%;
  }

  .header-left {
    float: left;
    margin-top: 14px;
  }

  .header-logo {
    width: 199px;
    height: 12px;
    background: url(../img/headerlogotext.png) no-repeat left;
  }

  .header-right {
    float: right;
  }

  .menu-button {
    display: block;
    margin-top: 7px;
    color: #171717;
    text-decoration: none;
    font-size: 19px;
  }

  .menu-button:hover {
    color: gray;
    cursor: pointer;
    cursor: hand;
  }

  .header-right ul {
    position: absolute;
    top: 43px;
    right: 0;
    bottom: 0;
    display: none;
    margin-top: 8px;
    width: 100%;
    background: rgba(247, 247, 247, 0.9);
    list-style: none;
  }

  .header-right ul li a {
    display: block;
    padding: 20px;
    padding-right: 25px;
    border-top: 1px solid #e0e0e0;
    color: gray;
    text-align: right;
    text-decoration: none;
  }

  .header-right a:hover {
    background: rgba(224, 224, 224, 0.9);
  }

  main {
    padding-top: 74px;
    padding-bottom: 170px;
  }

  .main-wrapper {
    margin: auto;
    width: 70%;
    text-align: center;
  }

  .main-header {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 35px;
    font-family: 'Roboto Light';
    line-height: 35px;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    background: #4089a7;
    color: #f7f7f7;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
  }
}