@font-face {
  font-family: 'Lora';
  src: url('../font/lora/lora.eot');
  src: url('../font/lora/lora.eot?iefix') format('eot'),
  url('../font/lora/lora.woff') format('woff'),
  url('../font/lora/lora.ttf') format('truetype'),
  url('../font/lora/lora.svg#webfont') format('svg');
}

@font-face {
  font-family: 'Roboto Light';
  src: url('../font/roboto-light/roboto-light.eot');
  src: url('../font/roboto-light/roboto-light.eot?iefix') format('eot'),
  url('../font/roboto-light/roboto-light.woff') format('woff'),
  url('../font/roboto-light/roboto-light.ttf') format('truetype'),
  url('../font/roboto-light/roboto-light.svg#webfont') format('svg');
}

html {
  height: 100%;
}

body {
  display: table;
  width: 100%;
  height: 100%;
  background: url(../img/bg.jpg) no-repeat center center fixed #f7f7f7;
  background-size: cover;
  color: #171717;
  font-size: 18px;
  font-family: 'Lora';

  behavior: url(../js/display-table.min.htc);
  dt-display: table;
}

header {
  width: 100%;
  height: 51px;
  text-transform: uppercase;
  font-size: 17px;
  font-family: 'Roboto Light';
}

.header-wrapper {
  margin: auto;
  padding-top: 5px;
}

.header-left {
  float: left;
  margin-top: 15px;
}

.header-logo {
  width: 199px;
  height: 12px;
  background: url(../img/headerlogotext.png) no-repeat left;
}

.header-right {
  float: right;
}

main {
  display: table-row;
  height: 100%;

  dt-display: table-row;
}

.main-wrapper {
  margin: auto;
  padding-top: 73px;
  padding-bottom: 170px;
  text-align: center;
}

.main-header {
  margin-bottom: 27px;
  text-transform: uppercase;
  font-family: 'Roboto Light';
}

footer {
  display: table-row;
  width: 100%;
  background: #4089a7;
  color: #f7f7f7;
  text-align: center;
  text-transform: uppercase;

  dt-display: table-row;
}

.footer-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 11px;
}

@media screen and (min-width: 972px) and (max-width: 10000000000px) {
  .header-wrapper {
    width: 900px;
  }
  .menu-button {
    display: none;
  }
  .header-right ul {
    display: block!important;
    margin-top: 13px;
    list-style: none;
  }
  .header-right ul li {
    display: inline-block;
    margin-left: 20px;
  }
  .header-right ul li a {
    color: gray;
    text-decoration: none;
  }
  .header-right ul li a:hover {
    color: #171717;
  }
  .main-wrapper {
    width: 650px;
  }
  .main-header {
    font-size: 40px;
    line-height: 40px;
  }
}
@media screen and (orientation:landscape) and (min-device-height:1000px) {
  .header-wrapper {
    width: 90%;
  }
  .menu-button {
    display: none;
  }
  .header-right ul {
    display: block!important;
    margin-top: 13px;
    list-style: none;
  }
  .header-right ul li {
    display: inline-block;
    margin-left: 20px;
  }
  .header-right ul li a {
    color: gray;
    text-decoration: none;
  }
  .header-right ul li a:hover {
    color: #171717;
  }
  .main-wrapper {
    width: 70%;
  }
  .main-header {
    font-size: 40px;
    line-height: 40px;
  }
}
@media screen and (min-width: 601px) and (max-width: 972px) {
  .header-wrapper {
    width: 90%;
  }
  .menu-button {
    display: none;
  }
  .header-right ul {
    display: block!important;
    margin-top: 13px;
    list-style: none;
  }
  .header-right ul li {
    display: inline-block;
    margin-left: 20px;
  }
  .header-right ul li a {
    color: gray;
    text-decoration: none;
  }
  .header-right ul li a:hover {
    color: #171717;
  }
  .main-wrapper {
    width: 70%;
  }
  .main-header {
    font-size: 40px;
    line-height: 40px;
  }
}
@media screen and (min-width: 0px) and (max-width: 601px) {
  .header-wrapper {
    width: 90%;
  }
  .menu-button {
    display: block;
    margin-top: 12px;
    color: #171717;
    text-decoration: none;
    font-size: 19px;
  }
  .menu-button:hover {
    cursor: pointer;
  }
  .header-right ul {
    position: absolute;
    top: 52px;
    right: 0;
    bottom: 0;
    display: none;
    width: 100%;
    background: rgba(247, 247, 247, 0.9);
    list-style: none;
  }
  .header-right ul li a {
    display: block;
    padding: 20px;
    padding-right: 28px;
    border-top: 1px solid #e0e0e0;
    color: gray;
    text-align: right;
    text-decoration: none;
  }
  .header-right ul li a:hover {
    background: rgba(224, 224, 224, 0.9);
  }
  .main-wrapper {
    width: 70%;
  }
  .main-header {
    font-size: 40px;
    line-height: 40px;
  }
}