body {
  color: $foreground;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.wrap {
  width: 900px;
  margin: auto;
}

.content-wrapper {
  margin-bottom: -71px;
  min-height: 100%;
  height: auto!important;
  background: url(../img/bg.jpg) no-repeat center center fixed $background;
  background-size: cover;
}

.content-wrapper:after {
  display: block;
  height: 242px;
  content: "";
}