* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; 
  margin: 0;
  padding: 0;
}
*:before {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #171717;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

.wrap {
  margin: auto; 
  width: 900px;
}

.content-wrapper {
  margin-bottom: -71px;
  min-height: 100%;
  height: auto !important;
  background: url(../img/bg.jpg) no-repeat center center fixed #f7f7f7;
  -moz-background-size: cover;
    -o-background-size: cover;
       background-size: cover;
}
.content-wrapper:after {
  display: block;
  height: 242px;
  content: "";
}

header {
  width: 100%;
  text-transform: uppercase;
  font-size: 17px;
}
header .logo {
  float: left;
  margin-right: 20px; 
  width: 63px;
  height: 97px;
  background: url(../img/logo.png) no-repeat;
}
header .text-logo {
  float: left; 
  margin-top: 34px;
  width: 199px;
  height: 12px;
  background: url(../img/text-logo.png) no-repeat;
}
header .menu-button {
  position: absolute;
  top: 9px;
  right: 0;
  z-index: 1; 
  display: none;
  padding: 25px 25px 37px 25px;
  width: 65px;
  cursor: pointer;
}
header .menu-button .relative-container {
  position: relative;
  width: 100%;
  height: 100%;
}
header .menu-button .relative-container span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background: #171717;
  content: ""; 
  -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
       -o-transition: 0.3s;
          transition: 0.3s;
  -webkit-transform: rotate(0deg);
     -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
       -o-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transform-origin: left center;
     -moz-transform-origin: left center;
      -ms-transform-origin: left center;
       -o-transform-origin: left center;
          transform-origin: left center;
}
header .menu-button .relative-container span.one {
  top: 0px;
}
header .menu-button .relative-container span.two {
  top: 5px;
}
header .menu-button .relative-container span.three {
  top: 10px;
}
header .menu-button.open .relative-container span {
  background: #f7f7f7;
}
header .menu-button.open .relative-container span.one {
  left: 2px; 
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
}
header .menu-button.open .relative-container span.two {
  width: 0%;
  background: rgba(247, 247, 247, 0);
}
header .menu-button.open .relative-container span.three {
  left: 2px; 
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
header .menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: none; 
  width: 0%;
  height: 100%;
  background: rgba(61, 61, 61, 0.6);
}
header nav {
  float: right;
  margin-top: 32px;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-block;
  margin-left: 40px;
  text-transform: uppercase;
  font-size: 17px;
}
header nav ul li a {
  color: #171717;
  text-decoration: none; 
  text-transform: uppercase;
}
header nav ul li a:hover {
  color: grey;
}

main {
  clear: both;
  padding-top: 65px;
  text-align: center;
}
main h1 {
  margin-top: -12px;
  margin-bottom: 27px; 
  font-weight: normal;
  line-height: 60px;
}
main p {
  font-family: "Lora", serif;
  line-height: 30px;
}

footer {
  padding: 30px;
  width: 100%;
  height: 71px; 
  background: #539ebd;
  color: #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 11px;
}

@media (max-width: 457px) {
  header .logo {
    display: none;
  }
}

@media (max-width: 777px) {
  html.open, body.open {
    position: relative;
    overflow: hidden;
    height: 100%;
  }
  header .menu-button {
    display: block;
  }
  header .menu-overlay {
    width: 100%;
  }
  header nav {
    position: fixed;
    top: 0;
    right: -250px;
    overflow: auto;
    margin-top: 0px;
    width: 250px;
    height: 100%;
    background: #539ebd;
    -webkit-transition: -webkit-transform 0.3s;
       -moz-transition:         transform 0.3s, -moz-transform 0.3s;
         -o-transition:      -o-transform 0.3s;
            transition: -webkit-transform 0.3s;
            transition:         transform 0.3s;
            transition:         transform 0.3s, -webkit-transform 0.3s, -moz-transform 0.3s, -o-transform 0.3s;
  }
  header nav.open {
    -webkit-transform: translateX(-250px);
       -moz-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
         -o-transform: translateX(-250px);
            transform: translateX(-250px);
  }
  header nav ul {
    margin-top: 53px;
  }
  header nav ul li {
    display: block; 
    margin-left: 0px;
  }
  header nav ul li a {
    display: block;
    padding: 25px 0px 25px 25px;
    color: #f7f7f7;
  }
  header nav ul li a:hover {
    color: #dedede;
  }
}

@media (max-width: 1000px) {
  div.wrap {
    width: 90%;
  }
}